* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /* background-color: rgb(37, 37, 37); */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

}

.text-white {
    color: white;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 20px;
    width: 55%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a {
    text-decoration: none;
}

.logo {
    width: 50%;

}

#contact-me {
    background-color: #9439D0;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    font-weight: bold;
    color: white;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/images/WhatsApp-image.jpg);
    padding-top: 60px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    justify-content: center;
}

.hero-section h1{
    font-weight: bold;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-section h2{
    font-weight: bold;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.hero-section h3{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

.services {
  text-align: center;
  margin-top: 4rem;
  color: #5C0C5A;
}

.line-cursor {
  width: 2px;
  height: 60px;
  background-color: #5C0C5A; 
  margin: 0 auto 10px auto; 
}

   